---
---

body {
    border: 0;
    margin: 0 auto;
    font-family: 'Source Code Pro', monospace;
    background: #000;
    color: #fff;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fff;
    font-size: 55px;
    letter-spacing: 2px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
}

h1:hover {
    cursor: pointer;
}

h1:hover:before,
h1:hover:after {
    margin-left: calc((100% - 980px) / 2);
    color: white;
    content: attr(data-text);
    position: absolute;
    background: black;
}

h1:hover:before{
    left: 3px;
    animation: glitch-1 2s linear infinite reverse;
}

h1:hover:after{
    left: -3px;
    animation: glitch-2 2s linear infinite reverse;
}

h2, h3, h4, h5, h6, em {
    color: rgb(106, 243, 243);
}

h2 {
    margin: 80px 0 20px 0;
    font-size: 28px;
}

h3 {
    margin: 40px 0 20px 0;
    font-size: 24px;
}

h4, h5 {
    margin: 20px 0 10px 0;
    font-size: 20px;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

h1::selection, h1::selection:hover:before, h1::selection:hover:after {
    background: #fff;
    color: #000;
}

h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, em::selection {
    background: rgb(106, 243, 243);
    color: #000;
}

p::selection, li::selection, th::selection, td::selection, dt::selection, dd::selection, sub::selection, sup::selection{
    background: #fff;
    color: #000;
}

strong::selection, .footnotes p::selection {
    background: yellow;
    color: #000;
}

pre {
    margin: 0 0 25px 0;
    padding: 12px;
    font-size: 16px;
}

pre, code {
    border-radius: 6px;
    background: rgb(29, 29, 29);
    color: #fff;
}

pre code {
    padding: 0;
    color: #fff;
}

code {
    padding: 3px 8px;
    color: rgb(250, 204, 77);
    font-size: 14px;
    white-space : pre-wrap !important;
}

code span {
    display: inline-block;
    margin: 2px 0;
}

hr {
    width: 100%;
    margin: 40px 0 0 0;
    color: #fff;
}

blockquote {
    padding: 20px;
    margin: auto 0;
    /* border-left: 5px solid rgb(139, 243, 170); */
    border-left: 5px solid rgb(106, 243, 243);
    color: #fff;
    background: rgb(29, 29, 29);
}

blockquote p {
    margin: 0;
}

table {
    margin: 10px auto 10px 0;
    border-collapse: collapse;
    border: 0.1px solid rgb(106, 243, 243);
    max-width: 450px;
}

th {
    min-width: 100px;
    padding: 5px;
    font-size: 20px;
    border: 0.1px solid rgb(106, 243, 243);
    border-bottom: 2.5px solid #6af3f3;
}

td {
    // padding: 8px 0 0 32px;
    padding: 16px;
    border: 0.1px solid rgb(106, 243, 243);
}

a {
    color: rgb(0, 162, 255);
    text-decoration: none;
}

strong {
    font-weight: 800px;
    color: yellow;
}

.shake {
    animation: shake 0.3s ease-in-out;
}

.footer {
    max-width: 900px;
    padding: 40px 0 40px 0;
    border-top: 1px solid rgb(106, 243, 243);
    margin: 2rem auto 0 auto;
}

.footnotes, .footnotes p {
    margin-top: 2rem;
    color: yellow;
    font-size: 14px;
}

.reversefootnote {
    color: yellow;
    font-size: 0px;
}

table ul {
    list-style-type: none;
    padding: 0px;
}

table li {
    padding: 5px 0;
}

dd {
    margin-bottom: 2rem;
}

img {
    max-width: 400px;
}

@media (max-width: 1000px) {

    .content, .footer {
        padding: 0 2rem;
    }

    h1:hover:before,
    h1:hover:after {
        margin-left: 0rem;
    }
}

@keyframes glitch-1 {
    0% {
        clip: rect(132px, auto, 101px, 30px);
    }
    5% {
        clip: rect(17px, auto, 94px, 30px);
    }
    10% {
        clip: rect(40px, auto, 66px, 30px);
    }
    15% {
        clip: rect(87px, auto, 82px, 30px);
    }
    20% {
        clip: rect(137px, auto, 61px, 30px);
    }
    25% {
        clip: rect(34px, auto, 14px, 30px);
    }
    30% {
        clip: rect(133px, auto, 74px, 30px);
    }
    35% {
        clip: rect(76px, auto, 107px, 30px);
    }
    40% {
        clip: rect(59px, auto, 130px, 30px);
    }
    45% {
        clip: rect(29px, auto, 84px, 30px);
    }
    50% {
        clip: rect(22px, auto, 67px, 30px);
    }
    55% {
        clip: rect(67px, auto, 62px, 30px);
    }
    60% {
        clip: rect(10px, auto, 105px, 30px);
    }
    65% {
        clip: rect(78px, auto, 115px, 30px);
    }
    70% {
        clip: rect(105px, auto, 13px, 30px);
    }
    75% {
        clip: rect(15px, auto, 75px, 30px);
    }
    80% {
        clip: rect(66px, auto, 39px, 30px);
    }
    85% {
        clip: rect(133px, auto, 73px, 30px);
    }
    90% {
        clip: rect(36px, auto, 128px, 30px);
    }
    95% {
        clip: rect(68px, auto, 103px, 30px);
    }
    100% {
        clip: rect(14px, auto, 100px, 30px);
    }
}
@keyframes glitch-2 {
    0% {
        clip: rect(129px, auto, 36px, 30px);
    }
    5% {
        clip: rect(36px, auto, 4px, 30px);
    }
    10% {
        clip: rect(85px, auto, 66px, 30px);
    }
    15% {
        clip: rect(91px, auto, 91px, 30px);
    }
    20% {
        clip: rect(148px, auto, 138px, 30px);
    }
    25% {
        clip: rect(38px, auto, 122px, 30px);
    }
    30% {
        clip: rect(69px, auto, 54px, 30px);
    }
    35% {
        clip: rect(98px, auto, 71px, 30px);
    }
    40% {
        clip: rect(146px, auto, 34px, 30px);
    }
    45% {
        clip: rect(134px, auto, 43px, 30px);
    }
    50% {
        clip: rect(102px, auto, 80px, 30px);
    }
    55% {
        clip: rect(119px, auto, 44px, 30px);
    }
    60% {
        clip: rect(106px, auto, 99px, 30px);
    }
    65% {
        clip: rect(141px, auto, 74px, 30px);
    }
    70% {
        clip: rect(20px, auto, 78px, 30px);
    }
    75% {
        clip: rect(133px, auto, 79px, 30px);
    }
    80% {
        clip: rect(78px, auto, 52px, 30px);
    }
    85% {
        clip: rect(35px, auto, 39px, 30px);
    }
    90% {
        clip: rect(67px, auto, 70px, 30px);
    }
    95% {
        clip: rect(71px, auto, 103px, 30px);
    }
    100% {
        clip: rect(83px, auto, 40px, 30px);
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }